.landing{
	width:80vw;
	height:80vh;
	/* border:2px solid var(--cambridge_high); */
	border-radius: 20px;
	/* background: var(--gradient);
	background: linear-gradient(0deg, var(--gradient) 16%, var(--gradient_later_inactive) 88%);  */
	background-color: var(--background);
	padding:5px;
	display:flex;
	flex-direction: column;
	color: var(--text_secondary);
	justify-content: space-around;
	align-items: center;
}

.landing > div{
	display: flex;
	align-items: center;
	justify-content: space-around;
	width:70%;
}

h1, p{
	font-family: 'Courier New', monospace;
}

h1{
	font-size: 66px;
	color: var(--text);
}

p{
	font-size: 18px;
}