:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

	/*Colors: */
	--background: #111827;
	--background_inactive: #374151;
	--background_dark: #0A0A0A;
	--green_dark: #1F2937;
	--green_back: #1F3742;
	--text: #1FA27C;
	--text_secondary: #F5DEB3;

	--gradient: #091716;
	--gradient_later_active: #4ACCC1;
	--gradient_later_inactive: #182727;

	--error: #A12920;
	--success: #32C24A;

}


body {
	background-color: var(--background_dark);
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	min-height: 100vh;
}

body > div {
	height: 100%;
	width: 100%;
	min-height: 100vh;
}

.content {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100%;
	justify-content: center;
	align-items: center;
}