:root {
	/*Colors: */
	--background: #111827;
	--background_inactive: #374151;
	--background_dark: #0A0A0A;
	--green_dark: #1F2937;
	--green_dark_high: #233F66;
	--green_back: #1F3742;
	--text: #1FA27C;
	--text_secondary: #F5DEB3;

	--gradient: #091716;
	--gradient_later_active: #4ACCC1;
	--gradient_later_inactive: #182727;

	--error: #A12920;
	--success: #32C24A;

}


body {
	background-color: var(--background_dark);
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	min-height: 100vh;
}

body > div {
	height: 100%;
	width: 100%;
	min-height: 100vh;
}

.content {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.box{
	width:80vw;
	height:80vh;
	border-radius: 20px;
	background-color: var(--background);
	padding:5px;
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.box > div{
	display: flex;
	align-items: center;
	justify-content: space-around;
	width:70%;
}

p{
	color:var(--text_secondary);
	font-size: 18px;
}

h1, p{
	font-family: 'Courier New', monospace;
}

h1{
	font-size: 66px;
	color: var(--text);
}
